n8n/spotify-categorizer-gemini.json
{
  "name": "Spotify Playlist Categorizer with Gemini",
  "nodes": [
    {
      "parameters": {},
      "id": "7a85f4f2-81e2-4a36-b57c-3f5e5c8e9d2a",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 100]
    },
    {
      "parameters": {
        "prompt": "Please provide the Spotify playlist URL"
      },
      "id": "playlist-input",
      "name": "Input Playlist URL",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "resource": "playlist",
        "playlistUrl": "={{ $json.playlistUrl }}",
        "operation": "getPlaylistTracks"
      },
      "id": "spotify-get-tracks",
      "name": "Get Spotify Playlist Tracks",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [450, 100],
      "credentials": {
        "spotifyOAuth2Api": "spotify_oauth"
      }
    },
    {
      "parameters": {
        "operation": "set",
        "fields": {
          "tracks": "={{ $json.items.map(item => ({\n  name: item.track.name,\n  artist: item.track.artists[0].name,\n  artist_id: item.track.artists[0].id,\n  uri: item.track.uri,\n  genres: []\n})) }}"
        }
      },
      "id": "parse-tracks",
      "name": "Parse Tracks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [650, 100]
    },
    {
      "parameters": {
        "loopList": "={{ $json.tracks }}"
      },
      "id": "loop-tracks",
      "name": "Loop Tracks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 100]
    },
    {
      "parameters": {
        "resource": "artist",
        "artistId": "={{ $json.item.artist_id }}"
      },
      "id": "get-artist-genres",
      "name": "Get Artist Genres",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [1050, 100],
      "credentials": {
        "spotifyOAuth2Api": "spotify_oauth"
      }
    },
    {
      "parameters": {
        "operation": "set",
        "fields": {
          "track_with_genres": "={{ {\n  name: $('Loop Tracks').json.item.name,\n  artist: $('Loop Tracks').json.item.artist,\n  uri: $('Loop Tracks').json.item.uri,\n  genres: $json.genres || [],\n  genre_string: $json.genres.join(', ') || 'Desconhecido'\n} }}"
        }
      },
      "id": "merge-track-genres",
      "name": "Merge Track with Genres",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "useSystemPrompt": true,
        "model": "gemini-1.5-pro",
        "messages": [
          {
            "role": "system",
            "content": "You are a music categorizer expert. Categorize the music based on its genres. Return ONLY a JSON object with format: {\"main_genre\": \"category_name\"}. Categories should be one of: Sertanejo, Samba, Pagode, Funk, Trap, Rock, Metal, Pop, Eletrônica, Reggae, R&B/Soul, Latino, Jazz, Clássica, or Outros if it doesn't fit."
          },
          {
            "role": "user",
            "content": "Music: {{ $json.track_with_genres.name }} by {{ $json.track_with_genres.artist }}\nGenres: {{ $json.track_with_genres.genre_string }}\n\nCategorize this music."
          }
        ]
      },
      "id": "gemini-categorize",
      "name": "Gemini Categorize",
      "type": "n8n-nodes-langchain.googlegemini",
      "typeVersion": 1,
      "position": [1450, 100],
      "credentials": {
        "googleGeminiApi": "gemini_api"
      }
    },
    {
      "parameters": {
        "operation": "set",
        "fields": {
          "categorized_track": "={{ {\n  name: $('Merge Track with Genres').json.track_with_genres.name,\n  artist: $('Merge Track with Genres').json.track_with_genres.artist,\n  uri: $('Merge Track with Genres').json.track_with_genres.uri,\n  genres: $('Merge Track with Genres').json.track_with_genres.genres,\n  main_genre: JSON.parse($json.text).main_genre,\n  display: $('Merge Track with Genres').json.track_with_genres.name + ' - ' + $('Merge Track with Genres').json.track_with_genres.artist\n} }}"
        }
      },
      "id": "parse-gemini-response",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "aggregateFields": [
          {
            "key": "all_tracks",
            "value": "={{ [...($json.all_tracks || []), $json.categorized_track] }}"
          }
        ]
      },
      "id": "accumulate-tracks",
      "name": "Accumulate Tracks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "operation": "set",
        "fields": {
          "grouped_by_genre": "={{ $json.all_tracks.reduce((acc, track) => {\n  const genre = track.main_genre || 'Outros';\n  if (!acc[genre]) acc[genre] = { tracks: [], uris: [] };\n  acc[genre].tracks.push(track.display);\n  acc[genre].uris.push(track.uri);\n  return acc;\n}, {}) }}"
        }
      },
      "id": "group-by-genre",
      "name": "Group by Genre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "operation": "set",
        "fields": {
          "final_output": "={{ Object.keys($json.grouped_by_genre).sort().map(genre => {\n  const data = $json.grouped_by_genre[genre];\n  return `\\n-----------(${genre.toUpperCase()})-----------\\n` + data.tracks.join('\\n');\n}).join('') }}"
        }
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2250, 100]
    },
    {
      "parameters": {
        "textInput": "={{ $json.final_output }}",
        "fileName": "spotify-playlist-categorized.txt",
        "mimeType": "text/plain"
      },
      "id": "save-to-file",
      "name": "Save to File",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2450, 100]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Input Playlist URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Playlist URL": {
      "main": [
        [
          {
            "node": "Get Spotify Playlist Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spotify Playlist Tracks": {
      "main": [
        [
          {
            "node": "Parse Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tracks": {
      "main": [
        [
          {
            "node": "Loop Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Tracks": {
      "main": [
        [
          {
            "node": "Get Artist Genres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Artist Genres": {
      "main": [
        [
          {
            "node": "Merge Track with Genres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Track with Genres": {
      "main": [
        [
          {
            "node": "Gemini Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorize": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Accumulate Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Tracks": {
      "main": [
        [
          {
            "node": "Group by Genre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Genre": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Save to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
